body {
  border: 5px solid brown;
	border-width: 10%;
	padding: 20px;
}
a{
	color: brown;
	position: relative; 
	left: 2%;
	text-decoration: none;
	font-size: 30px;
}
header {
	font-family: 'Hanalei Fill',
		cursive; 
		color: crimson;
		font-size: 32px;
}
.radicktext{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 23px;
}
.shantytext{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 23px;
}
.gallery1 {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: repeat(2, minmax(50px, 1800px));
	place-items: center center;
	gap: 20px 40px;
	max-width: auto;
}
.galleryimage {
	max-width: 45vw;
}
style {
	background: url(Pixel.gif) center center cover no-repeat fixed;
}
@media (max-width: 768px) {
}
.audioplayer {font-size: 55px;
}